<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../wwwroot/dist/Bootstrap/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/wwwroot/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style-about.css">

</head>

<body>
    <div class="loading loader--hidden"></div>
    <!--header-->
    <div class="kh-header d-flex flex-row shadow">
        <!--col 1-->
        <div class="col-lg-2 container justify-content-center align-items-center" style="display: flex;">
            <a href="../Home/index.html">
                <img id="layout-header-icon" style="width: 8rem;" class="normal-logo" src="/wwwroot/Images/icon.jpg"
                    alt="favor icon">
            </a>
        </div>
        <!--col 2-->
        <ul class="col-lg-8 d-flex flex-row main-menu m-0 p-0">
            <li class="col-sm"><a href="../Home/index.html">HOME</a></li>
            <li class="dropdown col-sm  m-0 align-items-center" style="display: flex;">
                <a class="" href="#">GIỚI THIỆU</a>
                <ul class="dropdown-content" style="top: 80px;">
                    <li><a href="#">vỀ TRUNG TÂM</a> </li>
                    <li><a href="/">FEED BACK</a> </li>
                    <li><a href="/">Q&A</a> </li>
                </ul>
            </li>
            <li class="col-sm"><a href="/khoahoc">KHÓA HỌC</a></li>
            <li class="col-sm"><a href="/View/Calendar/main.html">LỊCH KHAI GIẢNG</a></li>
            <li class="col-sm"><a href="/">QUY CHẾ HỌC PHÍ</a></li>
        </ul>
        <!--col 3-->
        <div class="col-lg-2 justify-content-center align-items-center" style="display: flex;">
            <button type="button" class="btn"
                style="width: 160px; font-size: large; background-color: #EE0000; color: aliceblue;"
                data-bs-toggle="modal" data-bs-target="#contactModal">Liên hệ ngay</button>
        </div>
    </div>
    <!--end header-->

    <!-- Modal contact-->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Điền thông tin của bạn tại đây</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="font-size: 12px;"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="Name" class="form-label">Họ và tên (<span
                                        style="color: red;">*</span>):</label>
                                <input type="text" name="Name" class="form-control" required>
                            </div>
                            <div class="col mb-3">
                                <label for="SDT" class="form-label">Số điện thoại (<span
                                        style="color: red;">*</span>):</label>
                                <input type="tel" name="SDT" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Email" class="form-label">Email:</label>
                            <input type="email" name="Email" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="Address" class="form-label">Địa chỉ:</label>
                            <input type="text" name="Address" class="form-control"
                                placeholder="Tỉnh/thành bạn đang sinh sống và làm việc?">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn" data-toggle="modal"
                                style="color: aliceblue; background-color: #EE0000;">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end modal contact -->



    <!--Main Content(code ở đây)-->
    <div class="main-content container-fluid bg-light p-0">
        <div class="bg-image justify-content-center align-items-center" style="position: relative; display: flex; color: white;">
            <div class="mt-5 about-first-essay" style="position: absolute; width: 70%; height: 70%; background-color: black; opacity: 70%;">
                <h1>CHÚNG TÔI LÀ CODEGYM</h1>
                <h3>NỖ LỰC ĐỂ MANG ĐẾN NHIỀU GIÁ TRỊ HƠN CHO CUỘC SỐNG</h3>
                <h5>Công nghệ Thông tin là một ngành lớn và quan trọng của Việt Nam, nhưng sự thiếu hụt nhân lực cả về số
                    lượng và chất lượng luôn là một rào cản để phát triển.</h5>
                <h5>Nhân lực là mấu chốt quan trọng nhất để thúc đẩy ngành CNTT nước nhà phát triển. Thấu hiểu được tình
                    trạng đó, các nhà sáng lập của CodeGym – vốn xuất thân là các lập trình viên nhiều năm kinh nghiệm,
                    giảng viên, chủ doanh nghiệp phần mềm có tâm huyết – đã quyết định xây dựng nên một mô hình đào tạo
                    lập trình đột phá, giúp nâng cao hiệu quả và chất lượng đào tạo. Không chỉ đủ để đóng góp một số
                    lượng lớn lập trình viên cho ngành, mà còn thông qua đó nâng cao tiêu chuẩn chất lượng của ngành.
                </h5>
            </div>
        </div>
    </div>
    <div class="container-fluid py-3" style="height: 400px; background-color: rgb(213, 210, 210);">
        <h2 class="text-center my-5">CÁC GIẢI THƯỞNG VÀ THÀNH TÍCH</h1>
            <div class="giaithuong-container m-2 d-flex">
                <div>
                    <img src="/wwwroot/Images/Ban-quyen-tac-gia-min.webp" alt="">
                </div>
                <div>
                    <img src="/wwwroot/Images/Cuc-so-huu-tri-tue-min.webp" alt="">
                </div>
                <div>
                    <img src="/wwwroot/Images/ISO-9001-min.webp" alt="">
                </div>
                <div>
                    <img src="/wwwroot/Images/Sao-Khue.webp" alt="">
                </div>
                <div>
                    <img src="/wwwroot/Images/Top-t50-thuong-hieu-vang-min.webp" alt="">
                </div>
            </div>
    </div>
    <!--end Main content-->


    <!--Footer-->
    <footer style="background-color: rgb(36, 71, 184);">
        <div class="container-fluid px-4 pt-4 pb-3" style="color:white; width: 1200px;">
            <h4 class="mb-4">CODETUS - Hệ thống đào tạo lập trình</h4>
            <div>
                <span><i class="fa fa-phone" style="margin-right: 23px; margin-bottom: 15px;"></i></span>
                Hotline: 0333392123
                <br>
                <span><i class="fa fa-envelope-o" style="margin-right: 20px;"></i></li></span>
                Email: daihoccongnghedonga@gmail.com
            </div>
            <hr>
            <div style="font-size: 12px;" class="container-fluid">
                <p style="display: flex;" class="justify-content-center align-items-center">Công ty CodeTus Việt Nam -
                    MST: 0001203033066</p>
                <p style="display: flex;" class="justify-content-center align-items-center mb-0">Địa chỉ: Phố Trịnh Văn
                    Bô, phường Xuân Phương, quận Nam Từ Liêm, thành phố Hà Nội</p>
            </div>
        </div>
    </footer>
    <!--end footer-->


    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="../../wwwroot/dist/Bootstrap/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/wwwroot/JS/script.js"></script>
    <script src="js.js"></script>
</body>

</html>