@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;200;300;400;500;600;700&family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container-dependence-testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("/View/LichKhaiGiang/image/medium-shot-men-with-graduation-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding: 25vh;
  margin: -7px;
}



.head-testimonial {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center; 
}

.body-testimonial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.testimonial-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
 
  flex-wrap: wrap;
  width: 237%;
  padding: 57px 100px;
  border-radius: 10px;
  white-space: nowrap;
  margin: 10px ;
  
}
.testimonial-item>.author-des {
  text-align: center;
  width: 105%;
  padding: 30px 0px;
  border-radius: 5px 5px 5px 5px;
  font-size: 1.1rem;
  
}

h1 {
  font-size: 30px; 
  font-weight: 600;
  color: white;
  text-align: center; 
 
  
  
}
h3{
  font-size: 22px;
  margin-top: -15px; 
  font-weight: 500;
  line-height: 1em;
  text-align: center;
  
}



/* iconinterface1 */
.icon-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 110px;
  flex-wrap: nowrap;
}

.iconinterface1,
.iconinterface2 {
  flex: 0 0 auto;
  text-align: center;
  width: 7%;
  height: 10rem;
  padding: 8px 2px;
  background-color: #2447B8;
  border-radius: 10px;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0 -640px;
   
}

.iconinterface1,
.iconinterface2 {
  margin-left: 41rem;
}


.iconinterface1 img,
.iconinterface2 img {
  vertical-align: middle;
  margin-left: 0px;
}

.iconinterface1 h1,
.iconinterface2 h1 {
  margin-left: 0px;
}



/* table */


.table-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
}

.table-1 {
  border-collapse: collapse;
  height: auto;
  width: 60%; 
  margin-left: 60px;
}

.table2 {
  border-collapse: collapse; 
  width: 46%;
}


.table3 table {
  border-collapse: collapse;
  margin-left: 50vh;
  margin-top: 10vh;
}


tbody, td, tfoot, th, thead, tr {
  border-style: solid;
  border-width: 1px;
 
}



















































