<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../wwwroot/dist/Bootstrap/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/wwwroot/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="loading loader--hidden"></div>
    <!--header-->
    <div class="kh-header d-flex flex-row shadow">
        <!--col 1-->
        <div class="col-lg-2 container justify-content-center align-items-center" style="display: flex;">
            <a href="../Home/index.html">
                <img id="layout-header-icon" style="width: 8rem;" class="normal-logo" src="/wwwroot/Images/icon.jpg"
                    alt="favor icon">
            </a>
        </div>
        <!--col 2-->
        <ul class="col-lg-8 d-flex flex-row main-menu m-0 p-0">
            <li class="col-sm"><a href="../Home/index.html">TRANG CHỦ</a></li>
            <li class="dropdown col-sm  m-0 align-items-center" style="display: flex;">
                <a class="" href="../About/index.html">GIỚI THIỆU</a>
                <ul class="dropdown-content" style="top: 80px;">
                    <li><a href="../About/index.html">VỀ TRUNG TÂM</a> </li>
                    <li><a href="/View/QnA/index.html">Q&A</a> </li>
                </ul>
            </li>
            <li class="col-sm"><a href="/View/Cources/index.html">KHÓA HỌC</a></li>
            <li class="col-sm"><a href="../Calendar/index.html">LỊCH KHAI GIẢNG</a></li>
            <li class="col-sm"><a href="../Policy/main.html">QUY CHẾ HỌC PHÍ</a></li>
        </ul>
        <!--col 3-->
        <div class="col-lg-2 justify-content-center align-items-center" style="display: flex;">
            <button type="button" class="btn"
                style="width: 160px; font-size: large; background-color: #EE0000; color: aliceblue;"
                data-bs-toggle="modal" data-bs-target="#contactModal">Liên hệ ngay</button>
        </div>
    </div>
    <!--end header-->

    <!-- Modal contact-->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Điền thông tin của bạn tại đây</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" style="font-size: 12px;"></button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="row">
                            <div class="col form-group mb-3">
                                <label for="Name" class="form-label">Họ và tên (<span
                                        style="color: red;">*</span>):</label>
                                <input type="text" name="Name" class="form-control" required>
                            </div>
                            <div class="col mb-3">
                                <label for="SDT" class="form-label">Số điện thoại (<span
                                        style="color: red;">*</span>):</label>
                                <input type="tel" name="SDT" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="Email" class="form-label">Email:</label>
                            <input type="email" name="Email" class="form-control">
                        </div>
                        <div class="form-group mb-3">
                            <label for="Address" class="form-label">Địa chỉ:</label>
                            <input type="text" name="Address" class="form-control"
                                placeholder="Tỉnh/thành bạn đang sinh sống và làm việc?">
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn" data-toggle="modal"
                                style="color: aliceblue; background-color: #EE0000;">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end modal contact -->



    <!--Main Content(code ở đây)-->

    <div class="detail DongRow" style="margin-top: 30px; margin-bottom: 70px;">
        <div class="column detail_main">
            <h1 class="detail-header mb-4" style="color: rgb(175, 59, 59);">Khóa học: </h1>
            <div class="position: relative; width: 100%; height: 200px">
                <img src="Images/Java-Logo.png" alt="" style="width: 100%;">
            </div>
        </div>
        <div class="column detail_site">
            <ul style="width: 100%; border: 2px solid white; border-radius: 5px;" class="shadow">
                <li class="price">
                    Giá gốc: <span style="font-weight: bold; color: rgb(175, 59, 59);"></span>
                </li>
                <li class="disccount-price">
                    Giá ưu đãi: <span style="font-weight: bold; color: rgb(175, 59, 59);"></span>
                </li>
                <li class="opening-date">
                    Ngày khai giảng: <span></span>
                </li>
                <li>
                    <p class="my-1">Lịch học trong tuần:</p>
                    <p class="my-0">Thứ 3, Thứ 6, CN (19h - 21h)</p>
                </li>
                <li>
                    <button type="button" class="btn mt-3"
                        style="width: 160px; font-size: large; background-color: #EE0000; color: aliceblue; display: block; width: 100%; height: 47px;"
                        data-bs-toggle="modal" data-bs-target="#contactModal">Đăng ký ngay</button>
                </li>
            </ul>
        </div>
    </div>

    <!-- select section -->
    <div class="last-category" style="height: 67px; background-color: #f5f6fa; position: relative;">
        <ul class="justify-content-center" style="display: flex;">
            <li class="selected-li" onclick="ChangeSelected(this, 1)">Lộ trình học</li>
            <li onclick="ChangeSelected(this, 2)">Giáo viên</li>
            <li onclick="ChangeSelected(this, 3)">FeedBack</li>
        </ul>
    </div>

    <div class="last-group-section mt-4 mb-5">
        <!-- lộ trình học -->
        <div id="lotrinh" class="">
            <h3>Nội dung chi tiết khóa học</h3>
            <div class="summarize">
                <p class="title"></p>
                <p class="description"></p>
                <p class="during">Thời lượng: <span></span></p>
                <p >Thời gian học: 3-5 tháng</p>
                <p class="frequencyPerWeek">Số buổi trên tuần: <span></span></p>
            </div>
            <div class="stages">
                
            </div>
        </div>

        <!-- Giáo viên -->
        <div id="giaovien" class="DongRow" style="display: none;">
            <div class="column detail_site d-flex justify-content-center">
                <img class="shadow" style="max-width: 600px; width: 100%;" src="/wwwroot/Images/icon.jpg" alt="">
            </div>

            <div class="column detail_main">
                <h4>Đội ngũ CodeTus</h3>
                <p style="text-align: justify; line-height: 30px;">Đội ngũ CodeTus gồm các kỹ sư ngành Công nghệ thông tin yêu thích việc giảng dạy, chia sẻ kiến thức về
                    lập trình tới cộng đồng IT. Thông qua các kiến thức chia sẻ miễn phí cũng như các khóa học cực kì chất
                    lượng của CodeTus, chúng tôi luôn mong muốn các bạn bè, học viên của mình sẽ trở thành những lập trình
                    viên giỏi hơn trong tương lai.</p>
            </div>
        </div>

        <!-- FeedBack -->
        <div id="feedback" class="" style="background-color: pink; display: none;">

        </div>
    </div>

    <!--end Main content-->

    <!--Footer-->
    <footer style="background-color: rgb(36, 71, 184);">
        <div class="container-fluid px-4 pt-4 pb-3" style="color:white; width: 1200px;">
            <h4 class="mb-4">CODETUS - Hệ thống đào tạo lập trình</h4>
            <div>
                <span><i class="fa fa-phone" style="margin-right: 23px; margin-bottom: 15px;"></i></span>
                Hotline: 0333392123
                <br>
                <span><i class="fa fa-envelope-o" style="margin-right: 20px;"></i></li></span>
                Email: daihoccongnghedonga@gmail.com
            </div>
            <hr>
            <div style="font-size: 12px;" class="container-fluid">
                <p style="display: flex;" class="justify-content-center align-items-center">Công ty CodeTus Việt Nam -
                    MST: 0001203033066</p>
                <p style="display: flex;" class="justify-content-center align-items-center mb-0">Địa chỉ: Phố Trịnh Văn
                    Bô, phường Xuân Phương, quận Nam Từ Liêm, thành phố Hà Nội</p>
            </div>
        </div>
    </footer>
    <!--end footer-->



    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="../../wwwroot/dist/Bootstrap/bootstrap-5.3.2-dist/js/bootstrap.min.js"></script>
    <script src="/wwwroot/JS/script.js"></script>
    <script src="js.js"></script>
    <script src="Detail.js"></script>

</body>

</html>